<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "httpS://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Listneers.Mylistners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Listneers.OrangeHRMListnners"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
